@font-face {
  src: url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-family: "MyriadPro";
  font-style: bold;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/MyriadPro-Semibold.ttf") format("truetype");
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-family: "PTSans";
  font-style: bold;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Tahoma-Regular.ttf") format("truetype");
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-family: "NotoSans";
  font-style: bold;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/NotoSans-BoldItalic.ttf") format("truetype");
  font-family: "NotoSans";
  font-style: italic;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/NotoSans-Italic.ttf") format("truetype");
  font-family: "NotoSans";
  font-style: italic;
  font-weight: 400;
}

table, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

*, *:before, *:after, input, textarea, button, select {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, option, textarea {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

ul, ol {
  list-style-type: none;
}

a, button, select {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: inherit;
}

input:focus, label:focus, textarea:focus, select:focus, option:focus, button:focus, a:focus {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
}

button {
  background-color: inherit;
  border: inherit;
}

html {
  font-family: "NotoSans";
}

p {
  font-size: 17px;
}

.send {
  content: 'send';
  position: fixed;
  width: 200px;
  height: 100px;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  text-align: center;
  display: inline;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons__item {
  font-size: 24px;
}

.social-icons__link {
  padding: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.social-icons__link:hover {
  color: #fce700;
}

.mobile-button {
  font-size: 36px;
  position: absolute;
  color: #fce700;
  top: 50%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.close-button {
  font-size: 36px;
  position: absolute;
  color: #fce700;
  top: 50%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.header {
  color: #fff;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 85px;
}

.header__text {
  text-align: center;
  margin-left: 15px;
  font-weight: 700;
}

.header__text div:nth-child(1) {
  font-size: 32px;
  text-transform: uppercase;
}

.header__text div:nth-child(2) {
  font-size: 18px;
  text-transform: initial;
  font-weight: normal;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__list li {
  margin-left: 30px;
  border-bottom: 2px solid #00000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__list li:hover {
  border-bottom: 2px solid #fce700;
}

.header__list li:nth-of-type(1) {
  margin-left: initial;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 3;
}

.contact__info {
  padding: 10px;
}

.contact__info-phone {
  border: 2px solid #fce700;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main {
  border-top: 15px solid #fce700;
  border-bottom: 60px solid #eee;
  background-image: url("../img/vorota_service_in_dnepr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.main img {
  width: 100%;
}

.main__title {
  text-align: center;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 200%;
}

.main__title::after, .main__title::before {
  position: absolute;
  content: "";
  width: 20%;
  height: 14px;
  background-color: #fce700;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) skew(-30deg);
          transform: translate(-50%, -50%) skew(-30deg);
}

.main__title::after {
  top: -10%;
  left: 10%;
}

.main__title::before {
  top: 110%;
  left: 90%;
}

.aboutme {
  position: relative;
  background-color: #696969;
  padding: 80px 20px 130px 20px;
}

.aboutme::before, .aboutme::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) skew(-14deg);
          transform: translate(0, -50%) skew(-14deg);
  height: calc( 100% + 2px);
  background-color: #eee;
}

.aboutme::before {
  left: 10%;
  width: 30px;
}

.aboutme__block-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.aboutme__block-text__par {
  padding: 20px;
  font-size: 22px;
  width: 50%;
  font-style: italic;
}

.aboutme__block-text__par h3 {
  margin-bottom: 20px;
}

.aboutme__block-text__par h3:nth-of-type(2), .aboutme__block-text__par h3:last-child {
  font-weight: normal;
  font-size: 17px;
}

.aboutme__block-text__par h3:last-child {
  margin-bottom: initial;
}

.aboutme__block-text__img {
  padding: 5px;
  width: 250px;
  border-radius: 50%;
  background-color: #fce700;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.aboutme__skill {
  width: 55%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  background-color: #fce700;
  padding: 20px;
}

.aboutme__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme__skill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme__skill-icon i {
  font-size: 60px;
}

.aboutme__skill-icon div {
  font-size: 17px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}

.service {
  background-color: #eee;
  padding: 140px 0 60px 0;
}

.service__block img {
  width: 100%;
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222;
  margin-top: 30px;
}

.service__block-text {
  width: 50%;
  color: #fff;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__block-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__block-icon i {
  color: #ffea00;
  font-size: 40px;
}

.service__block-icon p {
  margin-left: 12px;
}

.work {
  padding: 60px 0;
  background-color: #696969;
  color: #fff;
  position: relative;
}

.work::before, .work::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) skew(-14deg);
          transform: translate(0, -50%) skew(-14deg);
  height: calc( 100% + 2px);
  background-color: #eee;
  z-index: 1;
}

.work::before {
  left: 10%;
  width: 30px;
}

.work__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.work__block-img {
  width: 52%;
  border: 5px solid #ffea00;
  z-index: 2;
}

.work__block-img img {
  width: 100%;
}

.work__block-slider {
  padding: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 350px;
  position: relative;
  z-index: 1;
}

.work__block-slider::before {
  position: absolute;
  content: '';
  top: 13%;
  left: 80%;
  width: 180px;
  height: 180px;
  background-color: #eee;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.work__block-slider__item {
  width: 100%;
}

.work__block-slider img {
  height: 540px;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide {
  position: relative;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  position: absolute;
  z-index: 99;
  top: calc( 100% + 20px);
  left: 0;
  width: 100%;
}

.slick-dots button {
  width: 20px;
  height: 7px;
  font-size: 0;
  padding: 3px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #eee;
}

.slick-dots li + li {
  margin-left: 10px;
}

.slick-active button {
  background-color: #ffea00;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slick-arrow {
  border: none;
  background-color: inherit;
  font-size: 45px;
  color: #ffea00;
  position: absolute;
  top: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-prev {
  left: calc( 0% - 32px);
}

.slick-next {
  right: calc( 0% - 32px);
}

.info {
  color: #fff;
  padding: 60px 0 170px 0;
  border-top: 30px solid #eee;
  background-image: url("../img/remot_in_dnepr_vorota.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info__title {
  color: #000;
}

.info__block {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 30px;
  -webkit-box-pack: revert;
      -ms-flex-pack: revert;
          justify-content: revert;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.done {
  font-weight: 700;
  font-size: 18px;
  color: #fce700;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  padding: 90px 60px;
  background-color: rgba(0, 0, 0, .95);
  border: 1px solid #fce700;
  transition: .4s;
  opacity: 0;
}

.info__contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 55px;
  font-weight: 700;
  font-size: 20px;
  height: 50%;
  margin-left: -30px;
}

.info__contact __info-phone {
  border: none;
}

.info__contact > * {
  margin-bottom: 15px;
}

.info__contact h2 {
  font-size: 24px;
}

.info__contact p:nth-child(2) {
  font-weight: 400;
  margin-bottom: 5px;
}

.info__contact p:nth-child(5) {
  font-weight: 400;
  margin-bottom: 5px;
}

.info__contact div {
  margin-bottom: initial;
}

.info__form {
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 234, 0, 0.75);
  padding: 30px 55px;
  width: 50%;
  margin-left: 45px;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  color: #ffea00;
  width: 220px;
  margin-top: 24px;
  padding: 17px 37px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-button:hover {
  background-color: #484848;
}

.icons-small {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffea00;
  -webkit-transition: .3s;
  transition: .3s;
}

.info__contact .social-icons__link:hover {
  color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  margin-top: 20px;
}

.form__input, .form__num, .form__textar {
  padding: 20px;
  border-bottom: 1px solid #222;
}

.form input::-webkit-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

.form input:-ms-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

.form input::-ms-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

.form input::placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

textarea::-webkit-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

textarea:-ms-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

textarea::-ms-input-placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

textarea::placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
}

.form__textar {
  padding: 30px 20px 0px 20px;
  resize: none;
}

.form button {
  margin-top: 45px;
  display: block;
  text-align: center;
}

.footer {
  color: #eee;
  padding: 30px 0;
  background-color: #222;
  width: 100%;
  border-top: 3px solid #eee;
  text-align: center;
}

.footer__block {
  width: 100%;
  font-size: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block div:nth-child(3) {
  margin-left: 5px;
}

.map {
  padding: 60px 0;
  background-color: #696969;
  text-align: center;
  color: #fff;
  border-top: 30px solid #eee;
  position: relative;
  z-index: 1;
}

.map::before, .map::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) skew(-14deg);
          transform: translate(0, -50%) skew(-14deg);
  height: calc( 100% + 2px);
  background-color: #eee;
  z-index: -1;
}

.map::before {
  left: 10%;
  width: 30px;
}

.map__title h1:nth-of-type(1) {
  color: #ffea00;
}

.location {
  padding-top: 30px;
  width: 100%;
  max-width: 1100px;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 980px;
  }
  .main__title {
    font-size: 50px;
  }
  .info__form {
    left: 75%;
  }
  .info__contact {
    margin-left: 10px;
  }
  .aboutme__skill {
    width: 75%;
  }
  .aboutme::before {
    display: none;
  }
  .service__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__block-text {
    width: 100%;
    padding: 10px;
  }
  .service__block-icon {
    padding: 20px;
  }
  .work__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__block-img {
    width: 45%;
  }
  .work::before {
    display: none;
  }
  .map:before {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 860px;
  }
  .header__text div:nth-child(1) {
    font-size: 30px;
  }
  .header__text div:nth-child(2) {
    font-size: 16px;
  }
  .header__logo img {
    max-width: 78px;
  }
  .header__text {
    margin-left: 10px;
  }
  .header__body {
    height: 100px !important;
  }
  .header__list li {
    border-bottom: none;
  }
  .header__list li:hover {
    border-bottom: none;
    color: #fce700;
  }
  .main {
    border-top: 10px solid #fce700;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    padding: 130px 10px 30px 10px;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    border-top: 1px solid #fce700;
    padding-top: 18px;
  }
  .header__list a {
    display: block;
  }
  .header__list li {
    margin-left: 0;
    margin: 0 0 40px 0;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__title {
    font-size: 45px;
  }
  .aboutme__skill {
    width: 85%;
  }
  .work__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work__block-img {
    width: 41%;
  }
  .work__block-slider img {
    height: 510px;
  }
  .info__contact {
    margin-left: 15px;
  }
  .info__form {
    margin-left: 30px;
    width: 75%;
  }
}

@media screen and (max-width: 860px) {
  .container {
    max-width: 767px;
  }
  p {
    font-size: 15px;
  }
  .header__body {
    height: 80px;
  }
  .header .contact {
    margin-left: 5%;
  }
  .header .contact__info-phone {
    font-size: 15px;
  }
  .main {
    border-top: 10px solid #fce700;
    border-bottom: 30px solid #eee;
  }
  .main__title {
    font-size: 40px;
  }
  .aboutme {
    padding: 50px 20px 80px 20px;
  }
  .aboutme__skill {
    width: 95%;
    padding: 15px;
  }
  .aboutme__skill-icon i {
    font-size: 45px;
  }
  .aboutme__skill-icon div {
    font-size: 15px;
  }
  .service {
    padding: 100px 0 30px 0;
  }
  .service__block-icon i {
    font-size: 36px;
  }
  .info {
    padding: 30px 0;
  }
  .info__block {
    margin-top: 15px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__contact {
    margin-left: initial;
  }
  .info__form {
    margin-top: 15px;
    margin-left: initial;
    width: 85%;
    padding: 30px;
  }
  .work {
    padding: 30px 0 40px 0;
  }
  .work__block {
    margin-top: 15px;
  }
  .work__block-slider img {
    height: 490px;
  }
  .main::after, .main::before {
    height: 10px;
  }
  .slick-dots {
    top: 100%;
  }
  .footer {
    padding: 20px 0;
  }
  .map {
    padding: 30px 0;
  }
  .location {
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 641px;
  }
  .header__body {
    height: 70px !important;
  }
  .social-icons__item {
    width: 70%;
  }
  .social-icons__item {
    font-size: 22px;
  }
  .header {
    padding: 15px 0;
  }
  .header__img {
    width: 70px;
  }
  .header__text div:nth-child(1) {
    font-size: 28px;
  }
  .header__text div:nth-child(2) {
    font-size: 15px;
  }
  .header .contact {
    margin-left: 2%;
  }
  .header__text {
    margin-left: 10px;
  }
  .header__text div:nth-child(1) {
    font-size: 28px;
  }
  p {
    font-size: 14px;
  }
  .service__block-icon {
    padding: 12px;
  }
  .service__block-text {
    padding: 0;
  }
  .main__title {
    font-size: 35px;
  }
  .info__form {
    width: 90%;
  }
  .aboutme__block-text__par {
    font-size: 18px;
  }
  .aboutme__block-text__par h3:nth-of-type(2), .aboutme__block-text__par h3:last-child {
    font-size: 16px;
  }
  .aboutme__block-text__img {
    width: 220px;
  }
  .aboutme__block-text__par {
    padding: 15px;
  }
  .title h1 {
    font-size: 25px;
  }
  .slick-dots button {
    width: 17px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 480px;
  }
  .main__title {
    font-size: 32px;
  }
  .header .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .contact__info-phone {
    border: 1px solid #fce700;
  }
  .social-icons__link {
    font-size: 20px;
  }
  .aboutme {
    padding: 15px 20px 80px 20px;
  }
  .aboutme__block-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutme__block-text__par {
    width: 100%;
    text-align: center;
  }
  .work__block-img {
    width: 50%;
  }
  .aboutme__block-text__img {
    width: 200px;
  }
  .info__form h2, .info__contact h2 {
    font-size: 20px;
  }
  .service {
    padding-top: 150px;
  }
  .service__block {
    margin-top: 20px;
  }
  .service__block-icon {
    padding: 15px;
  }
  .aboutme__block-text__img {
    z-index: 2;
    border: 1px solid #222;
  }
  .aboutme__skill-icon div {
    margin-top: 5px;
  }
  .aboutme__skill {
    width: 65%;
    padding: 0;
  }
  .aboutme__skill-icon {
    padding: 10px;
    width: 50%;
  }
  .aboutme__skill-list {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px;
    border: 1px solid #222;
  }
  .aboutme__skill-icon i {
    font-size: 35px;
  }
  .aboutme__skill-icon div {
    font-size: 14px;
  }
  .aboutme__skill {
    top: 105%;
  }
  .map {
    padding: 20px 0;
  }
  .location {
    padding-top: 12px;
  }
  .footer {
    border-top: 2px solid #eee;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-width: 320px;
  }
  .header__logo img {
    max-width: 65px;
  }
  .mobile-button {
    left: 90%;
  }
  .main__title {
    font-size: 28px;
  }
  .header .contact {
    margin-left: 0;
    display: none;
  }
  .header__text div:nth-child(1) {
    font-size: 22px;
  }
  .header__text div:nth-child(2) {
    font-size: 14px;
  }
  .header__img {
    width: 55px;
  }
  .aboutme {
    padding: 10px 0 80px 0;
  }
  .aboutme__block-text__img {
    width: 155px;
  }
  .work__block-slider {
    width: 82%;
  }
  .work__block-slider img {
    height: auto;
  }
  .slick-dots {
    left: 0;
    width: 100%;
  }
  .slick-dots button {
    width: 8px;
  }
  .work__block-slider::before {
    display: none;
  }
  .slick-arrow {
    font-size: 35px;
  }
  .slick-prev {
    left: -6%;
  }
  .slick-next {
    right: -6%;
  }
  .info {
    padding: 20px 0;
  }
  .work {
    padding: 20px 0 30px 0;
  }
  .header, .footer {
    padding: 10px 0;
  }
  .info__form {
    width: 100%;
    text-align: center;
    padding: 12px 10px;
  }
  .form button {
    margin: auto;
    margin-top: 15px;
    padding: 12px;
  }
  .footer {
    border-top: 1px solid #eee;
  }
  .footer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__block div:nth-child(3) {
    margin-left: 0;
    width: 100%;
    line-height: 150%;
  }
  .aboutme__block-text__img {
    width: 170px;
  }
  .main__title::after, .main__title::before {
    height: 10px;
  }
}
/*# sourceMappingURL=style.css.map */